<?xml version="1.0" encoding="UTF-8"?>
<parameters>
<parameter db="android_metadata">en_GB</parameter>
<parameter db="secure" name="bluetooth_on">0</parameter>
<parameter db="secure" name="data_roaming">0</parameter>
<!--<parameter db="secure" name="data_encryption">0</parameter>-->
<!--<parameter db="secure" name="data_encryption_sd_card">0</parameter>-->
<parameter db="secure" name="install_non_market_apps">0</parameter>
<parameter db="secure" name="location_providers_allowed">gps</parameter>
<parameter db="secure" name="assisted_gps_enabled">1</parameter>
<parameter db="secure" name="network_preference">1</parameter>
<parameter db="secure" name="usb_mass_storage_enabled">1</parameter>
<parameter db="secure" name="wifi_on">0</parameter>
<parameter db="secure" name="wifi_networks_available_notification_on">1</parameter>
<parameter db="secure" name="preferred_network_mode">9</parameter>
<parameter db="secure" name="cdma_cell_broadcast_sms">1</parameter>
<parameter db="secure" name="mock_location">0</parameter>
<parameter db="secure" name="backup_enabled">0</parameter>
<parameter db="secure" name="backup_transport">com.google.android.backup/.BackupTransportService</parameter>
<parameter db="secure" name="mount_play_not_snd">1</parameter>
<parameter db="secure" name="mount_ums_autostart">0</parameter>
<!--<parameter db="secure" name="data_network_wait_for_paypopup_response">0</parameter>-->
<!--<parameter db="secure" name="data_network_user_paypopup_response">0</parameter>-->
<parameter db="secure" name="data_network_user_paypopup_transition_from_wifi_to_mobile">0</parameter>
<!--<parameter db="secure" name="data_network_wait_for_roamingnotify">0</parameter>-->
<!--<parameter db="secure" name="data_network_wait_for_roamingpopup_response">0</parameter>-->
<!--<parameter db="secure" name="data_network_user_roamingnotify_response">0</parameter>-->
<!--<parameter db="secure" name="data_network_user_roamingpopup_response">0</parameter>-->
<parameter db="secure" name="mount_ums_prompt">1</parameter>
<parameter db="secure" name="mount_ums_notify_enabled">1</parameter>
<!--<parameter db="secure" name="wifi_ap_ssid">AndroidAP</parameter>-->
<!--<parameter db="secure" name="wifi_ap_security">1</parameter>-->
<!--<parameter db="secure" name="wifi_ap_passwd"></parameter>-->
<!--<parameter db="secure" name="android_id">ab5c0ee3704dfbb7</parameter>-->
<!--<parameter db="secure" name="enabled_input_methods">com.lge.ime/.LgeImeImpl:com.google.android.googlequicksearchbox/com.google.android.voicesearch.ime.VoiceInputMethodService</parameter>-->
<parameter db="secure" name="default_input_method">com.lge.ime/.LgeImeImpl</parameter>
<!--<parameter db="secure" name="adb_enabled">1</parameter>-->
<!--<parameter db="secure" name="voice_recognition_service">com.google.android.voicesearch/.GoogleRecognitionService</parameter>-->
<!--<parameter db="secure" name="throttle_reset_day">19</parameter>-->
<parameter db="secure" name="device_provisioned">0</parameter>
<!--<parameter db="secure" name="subscription_mode">0</parameter>-->
<!--<parameter db="secure" name="http_proxy"></parameter>-->
<parameter db="system" name="volume_music">7</parameter>
<!--<parameter db="system" name="volume_fm">11</parameter>-->
<parameter db="system" name="volume_ring">5</parameter>
<parameter db="system" name="volume_system">5</parameter>
<parameter db="system" name="volume_voice">3</parameter>
<parameter db="system" name="volume_alarm">6</parameter>
<parameter db="system" name="volume_notification">5</parameter>
<parameter db="system" name="volume_bluetooth_sco">7</parameter>
<parameter db="system" name="mode_ringer">2</parameter>
<!--<parameter db="system" name="volume_vibrate">7</parameter>-->
<parameter db="system" name="mode_ringer_streams_affected">418</parameter>
<parameter db="system" name="mute_streams_affected">46</parameter>
<parameter db="system" name="dim_screen">1</parameter>
<!--<parameter db="system" name="socket_data_call_enable">1</parameter>-->
<parameter db="system" name="stay_on_while_plugged_in">0</parameter>
<!--<parameter db="system" name="screen_off_timeout">30000</parameter>-->
<parameter db="system" name="emergency_tone">0</parameter>
<parameter db="system" name="call_auto_retry">0</parameter>
<parameter db="system" name="dtmf_tone_type">0</parameter>
<parameter db="system" name="hearing_aid">0</parameter>
<parameter db="system" name="tty_mode">0</parameter>
<parameter db="system" name="airplane_mode_on">0</parameter>
<parameter db="system" name="airplane_mode_radios">cell,bluetooth,wifi,nfc</parameter>
<parameter db="system" name="airplane_mode_toggleable_radios">bluetooth,wifi,nfc</parameter>
<parameter db="system" name="auto_time">1</parameter>
<!--<parameter db="system" name="screen_brightness">149</parameter>-->
<parameter db="system" name="screen_brightness_mode">0</parameter>
<!--<parameter db="system" name="always_ask">1</parameter>-->
<!--<parameter db="system" name="usb_connection_mode">2</parameter>-->
<!--<parameter db="system" name="usb_connection_mode_on">1</parameter>-->
<!--<parameter db="system" name="ums_auto_run_on">0</parameter>-->
<!--<parameter db="system" name="window_animation_scale">1.0</parameter>-->
<!--<parameter db="system" name="transition_animation_scale">1.0</parameter>-->
<parameter db="system" name="accelerometer_rotation">1</parameter>
<parameter db="system" name="haptic_feedback_enabled">1</parameter>
<parameter db="system" name="notification_light_pulse">1</parameter>
<parameter db="system" name="set_install_location">0</parameter>
<parameter db="system" name="default_install_location">0</parameter>
<parameter db="system" name="power_sounds_enabled">1</parameter>
<parameter db="system" name="low_battery_sound">/system/media/audio/ui/LowBattery.ogg</parameter>
<parameter db="system" name="dock_sounds_enabled">0</parameter>
<parameter db="system" name="desk_dock_sound">/system/media/audio/ui/Dock.ogg</parameter>
<parameter db="system" name="desk_undock_sound">/system/media/audio/ui/Undock.ogg</parameter>
<parameter db="system" name="car_dock_sound">/system/media/audio/ui/Dock.ogg</parameter>
<parameter db="system" name="car_undock_sound">/system/media/audio/ui/Undock.ogg</parameter>
<parameter db="system" name="lockscreen_sounds_enabled">1</parameter>
<parameter db="system" name="lock_sound">/system/media/audio/ui/Lock.ogg</parameter>
<parameter db="system" name="unlock_sound">/system/media/audio/ui/Unlock.ogg</parameter>
<!--<parameter db="system" name="ntp_server_url">pool.ntp.org</parameter>-->
<!--<parameter db="system" name="ntp_timeout">10000</parameter>-->
<!--<parameter db="system" name="ntp_interval">43200000</parameter>-->
<parameter db="system" name="gesture_video_player">0</parameter>
<parameter db="system" name="gesture_home_rearrange">0</parameter>
<parameter db="system" name="gesture_voice_call">0</parameter>
<parameter db="system" name="gesture_alarm">0</parameter>
<parameter db="system" name="gesture_image_viewer">0</parameter>
<parameter db="system" name="gesture_all_editor">0</parameter>
<parameter db="system" name="vibrate_in_silent">1</parameter>
<!--<parameter db="system" name="notifications_use_ring_volume">1</parameter>-->
<!--<parameter db="system" name="roaming_auto_dial">0</parameter>-->
<!--<parameter db="system" name="volume_ring_last_audible">5</parameter>-->
<!--<parameter db="system" name="fm_svcst_bluetooth_fm_receiver_service">1</parameter>-->
<!--<parameter db="system" name="fm_svcst_bluetooth_fm_transmitter_service">1</parameter>-->
<!--<parameter db="system" name="fm_svcst_init">1</parameter>-->
<!--<parameter db="system" name="bt_svcst_bluetooth_bpp_service">0</parameter>-->
<!--<parameter db="system" name="bt_svcst_com.broadcom.bt.app.system.DataGatewayService">1</parameter>-->
<!--<parameter db="system" name="bt_svcst_bluetooth_dun">1</parameter>-->
<!--<parameter db="system" name="bt_svcst_bluetooth_ftp">1</parameter>-->
<!--<parameter db="system" name="bt_svcst_bluetooth_opp_service">1</parameter>-->
<!--<parameter db="system" name="bt_svcst_bluetooth_pbap">1</parameter>-->
<!--<parameter db="system" name="bt_svcst_bluetooth_sap">1</parameter>-->
<!--<parameter db="system" name="bt_svcst_bluetooth_map">0</parameter>-->
<!--<parameter db="system" name="bt_svcst_bluetooth_test">1</parameter>-->
<!--<parameter db="system" name="bt_svcst_bluetooth_avrcp">1</parameter>-->
<!--<parameter db="system" name="bt_svcst_bluetooth_flick">1</parameter>-->
<!--<parameter db="system" name="bt_svcst_init">1</parameter>-->
<!--<parameter db="system" name="multi_sim_voice_call">0</parameter>-->
<!--<parameter db="system" name="multi_sim_data_call">0</parameter>-->
<!--<parameter db="system" name="multi_sim_sms">0</parameter>-->
<!--<parameter db="system" name="default_subscription">0</parameter>-->
<!--<parameter db="system" name="com.jungle.app.fonts.settings.fontsname.later">null</parameter>-->
<parameter db="system" name="vibrate_on">10</parameter>
<!--<parameter db="system" name="com.jungle.app.fonts.settings.fontsname">*</parameter>-->
<!--<parameter db="system" name="com.android.current.font.familyname">DroidSans</parameter>-->
<!--<parameter db="system" name="com.android.current.font">/system/fonts/DroidSans.ttf</parameter>-->
<!--<parameter db="system" name="shop_mode">0</parameter>-->
<!--<parameter db="system" name="alarm_alert">content://media/internal/audio/media/1</parameter>-->
<!--<parameter db="system" name="notification_sound">content://media/internal/audio/media/2</parameter>-->
<!--<parameter db="system" name="ringtone">content://media/internal/audio/media/3</parameter>-->
<!--<parameter db="system" name="next_alarm_formatted"></parameter>-->
<!--parameter db="system" name="usb_attatched">0</parameter>-->
</parameters>
